:root {
  --space-xxs: 5px;
  --space-xs: 10px;
  --space-s: 15px;
  --space-sm: 20px;
  --space-m: 25px;
  --space-l: 30px;
  --space-xl: 35px;
  --space-xxl: 40px;
  --space-base: var(--space-s);

  --boxed-max-width: 1024px;
}
