@import 'src/assets/styles/mixins';

.filter {
  @include flex-column;

  &-wrapper {
    @include flex-row;
    padding: 0 var(--space-s);
    margin: 0 0 var(--space-sm) 0;
  }

  &-input {
    @include flex-row;
    flex: 1 1 100%;
    background: none;
    border: 1px solid var(--color-primary);
    border-radius: 0;
    line-height: var(--size-l);
    padding: var(--space-xs) var(--space-xs);
    @include no-shadow;
  }

  &-button {
    @include flex-row;
    width: 40px;
    align-items: center;
    padding: var(--space-xs) var(--space-xs);
    border: 1px solid var(--color-primary);
    border-radius: 0;
    background: var(--color-black);
    color: var(--color-white);

    &-icon {
      --icon-color: var(--color-white);
    }
  }
}
