@import 'src/assets/styles/mixins';
@import 'src/assets/styles/breakpoints';

.cards-list {
  @include flex-column;
  padding: 0 var(--space-s);

  &__empty {
    @include flex-column;
    text-align: center;
  }
}

@include for-tablet {
  .cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 calc(var(--space-xs) * -1);
    overflow-x: hidden;

    .card {
      flex-basis: 100%;
      max-width: calc(50% - (var(--space-xs) * 2));
      padding: 0 var(--space-xs);
    }
  }
}

@include for-desktop {
  .cards-list {

    .card {
      max-width: calc(33.33% - (var(--space-xs) * 2));
    }
  }
}

@include for-big-desktop {
  .cards-list {

    .card {
      max-width: calc(25% - (var(--space-xs) * 2));
    }
  }
}
