@import 'src/assets/styles/mixins';

.page-card {
  @include flex-column;

  &-action {
    @include flex-column;
    align-items: flex-end;
    padding: var(--space-xs) var(--space-s);
  }

  &-title {
    @include flex-column;

    h1 {
      text-align: center;
    }
  }

  &-editor {
    @include flex-column;
    padding: 0 var(--space-s);
  }

  &__loading {
    @include flex-column;
    text-align: center;
  }
}
