@import 'src/assets/styles/mixins';

.header {
  @include flex-column;

  &-main {
    display: grid;
    //width: 100%;
    grid-template-columns: 50px auto 50px;
    grid-auto-rows: auto;
    grid-gap: 10px;
    background: var(--color-gray);
    z-index: 2;
  }

  &-burger {
    @include flex-column;
    align-items: center;
    justify-content: center;

    &-line {
      &-top,
      &-bottom {
        display: block;
        height: 2px;
        width: 20px;
        margin: 5px 0;
        background: var(--color-primary);
        transition: all 0.2s ease-in-out;
      }
    }

    &__open {
      .header-burger-line {
        &-top {
          transform: rotate(45deg);
          margin: 2px 0 0 0;
        }
        &-bottom {
          transform: rotate(-45deg);
          margin: -2px 0 0 0;
        }
      }
    }
  }

  &-logo {
    @include flex-column;
    padding: 10px 0;

    &-text {
      font-size: 18px;
      text-align: center;
      color: var(--color-primary);
    }
  }

  &-navigation {
    @include flex-column;
    height: 100%;
    max-height: var(--header-navigation-max-height, 0);
    background: var(--color-clouds);
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;

    ul {
      width: 100%;
      list-style: none;
      padding: var(--space-base) 0;
      margin: 0;

      li {
        margin: 0;
        padding: var(--space-xxs) var(--space-base);
      }
    }

    &-item {
      text-decoration: none;
      color: var(--color-primary);

      &__active {
        color: var(--color-highlight);
      }
    }

    &__open {
      --header-navigation-max-height: 100px;
    }
  }
}
