@import 'src/assets/styles/mixins';

.card-editor {
  @include flex-column;

  &-form {
    @include flex-column;
    margin: 0 0 var(--space-sm) 0;

    .form-group {
      @include flex-column;
      margin: 0 0 var(--space-xs) 0;

      &-input {
        border: 1px solid var(--color-black);
        border-radius: 0;
        padding: var(--space-xxs) var(--space-xs);
        @include no-shadow;
      }

      &-error {
        font-size: var(--size-s);
        padding: var(--space-xxs) 0;
        color: var(--color-alizarin);
      }
    }
  }

  &-action {

  }
}
