@import 'src/assets/styles/mixins';
@import 'src/assets/styles/breakpoints';

.page-cards {
  @include flex-column;

  &__loading {
    @include flex-column;
    text-align: center;
  }

  &-title {
    @include flex-column;

    h1 {
      text-align: center;
    }
  }

  &-filters {
    @include flex-column;
  }

  &-list {
    @include flex-column;
  }
}

@include for-tablet {
  .page-cards {
    &-list {
      overflow-x: hidden;
    }
  }
}
