@import './variables/_colors.scss';
@import './variables/_spacing.scss';
@import './variables/_typography.scss';
@import './mixins.scss';

body {
  @include no-spacing;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
